<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exun.thaparexpress">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".adapter.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.authenticate.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".activity.authenticate.Register"
            android:label="@string/title_activity_register"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".activity.authenticate.SignUp"
            android:label="SignUp"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name=".activity.Societies"
            android:label="@string/title_activity_societies"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".activity.Events"
            android:label="Events"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".activity.TimeTable"
            android:label="TimeTable"
            android:theme="@style/MyMaterialTheme"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.TimeTable" />
            </activity>

        <activity
            android:name=".activity.SocDetails"
            android:label="Society Members"
            android:theme="@style/MyMaterialTheme"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Societies" />
        </activity>
        <activity
            android:name=".activity.EventDetails"
            android:label="@string/title_activity_event_details"
            android:theme="@style/MyMaterialTheme"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Events" />
        </activity>
        <activity
            android:name=".activity.FullBlog"
            android:label="ThaparLogs"
            android:theme="@style/MyMaterialTheme"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".activity.MessMenu"
            android:label="MessMenu"
            android:theme="@style/MyMaterialTheme"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name=".activity.Teachers"
            android:label="Teachers"
            android:theme="@style/MyMaterialTheme"
            android:configChanges="orientation|screenSize">

        </activity>

        <activity
            android:name=".activity.ProfileActivity"
            android:label="Teachers"
            android:theme="@style/MyMaterialTheme"
            android:configChanges="orientation|screenSize">

        </activity>

        <!-- Firebase Notifications -->
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->
    </application>

</manifest>
